body {
	min-width: 1280px; 
	margin: 0 auto;
}

.g-head {
	height: 56px;
	padding-left: 5%;
	line-height: 56px;
    font-family: 微软雅黑;
}

.g-head .u-logo{
    background: url('../images/logo.png') left center no-repeat;
    display: inline-block;
    width: 45%;
    padding-left: 40px;
    font-size: 20px;
    font-family: 黑体; 
}

.g-head nav{
	display: inline-block;
	width: 42%;
    vertical-align: top;
}

.g-head ul {
    font-size: 0;
}

.g-head li{ 
    display: inline-block; 
    font-size: 14px; 
    padding: 0 4%; 
    line-height: 51px;
    border-bottom: 5px solid #ffffff;
    vertical-align: top;
}

.g-head li.z-active{
    border-bottom-color: #e74f4d;
}

.g-head .z-active a{
	color: #e74f4d;
}

.g-head .u-login{
    background: url('../images/login.png') left center no-repeat;
    width: 6%;
    display: inline-block;
    padding-left: 21px; 
    color: #e74f4d;
    vertical-align: top;
}


.g-focus {
	height: 708px;
    background: url('../images/focus.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

.m-focus{
	margin-left: 5%;
	color: white;
}

.m-focus h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.m-focus p{
	font-size: 21px;
    line-height: 33px;
}

.m-focus p.last{
    margin-bottom: 60px;
}

.m-focus button {
    width: 70%;
    border: 0;
    border-radius: 3px;
    background-color: #e74f4d; 
	font-size: 30px;
    line-height: 64px;
    color: white;
}

.g-trait {
	height: 250px;  
    display: flex;
    justify-content: center;
    font-size: 0;
}

.m-trait {
	width: 25%;
	display: inline-block;
}
 
.m-trait .u-img{
    height: 132px; 
    width: 44px;
    margin: 0 auto; 
    background: url('../images/trait.png') left center no-repeat;
} 

.u-img.z-position-2 {
	background-position: -75px center;
}

.u-img.z-position-3 {
	background-position: -135px center;
}

.u-img.z-position-4 {
	background-position: right center;
}

.m-trait .u-desc{
	height: 40px;
    border-left: 2px solid #908f8f;
    padding: 0 24%;
    line-height: 20px;
    font-size: 14px;
    font-family: '黑体';
    text-align: center;
}

.m-trait .z-position-1 + .u-desc{
    border: none;
}

.g-secret {
    height: 360px;
    background: url('../images/bigLogo.png') center 88px no-repeat;
    background-color: #ededec;
}

.m-secret{
    padding-top: 228px;
    text-align: center;
    font-size: 54px;
    font-family: 黑体;
    color: #999999;
}

.g-city{
    height: 341px;
    background: url('../images/map.jpg') center no-repeat;
    background-size: cover;
}

.m-city {
	padding-top: 51px;
	text-align: center;
	color: white;
    font-size: 0;
}

.m-city *{
    font-size: 14px;
}
.m-city h2{
    font-size: 21px; 
    padding-bottom: 16px;	
}

.u-line{
	width: 30px;
	height: 0;
	border-top: 3px solid white;
	display: inline-block;
}

.m-city > p{
	padding-top: 20px;
}

.m-city .m-search{
    margin: 52px 10% 0;
    font-size: 0;
}

.m-search .m-input{
    display: inline-block;
    width: 20%;
    margin-left: 5%;
    position: relative;
}

.m-search .m-input:first-child {
    margin-left: 0;
}

.m-search .u-seleImg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 36px;
    background: url('../images/mail.png') center no-repeat;
}

.m-select {
    width: 100%;
    height: 36px;
    padding-left: 9px;
    color: #a8aaaa;
} 

.m-select:active .m-input{
    border: 2px solid #bf4f48; /**这个怎么写 要写js吗**/
}

.z-button { 
    padding-left: 0;
    background-color: #be4e48;  
    color: white;   
    border: 0;
}

option {
    background-color: #e3e2e4; 
    line-height: 26px;
    color: #7d7c7c;
} 

/*****************************/

.g-pictures{
	height: 394px;
	padding: 100px 10% 112px;
	display: flex;
    justify-content: space-between;
	background-color: #f7f7f7;
}

.m-pictures {
	width: 20%;
    text-align: center;
}

.m-pictures .u-picture{
    height: 338px;
    background: url('../images/1.png') center no-repeat; 
}

.m-pictures .u-picture-2{ 
    background-image: url('../images/2.png'); 
}

.m-pictures .u-picture-3{ 
    background-image: url('../images/3.png'); 
}

.m-pictures .u-picture-4{ 
    background-image: url('../images/4.jpg'); 
}

.m-pictures .u-title{
	padding: 12px 0;
	font-size: 16px;
}

.m-pictures .u-title1{
	padding: 3px 0 8px;
	font-size: 21px;
	letter-spacing: 1em;
}

.m-pictures .u-desc {
	color: #a8aaaa;
	padding-bottom: 8px;
}

.g-intro {
	height: 566px;
	display: flex; 
}

.m-intro .u-cover{
	width: 67%;
	padding-top: 133px;
	position: relative;
	background: url('../images/intro.jpg') center no-repeat; 
	background-size: cover;
	text-align: center;
	color: white;
}

.u-cover p {
	font-size: 22px;
	padding-bottom: 22px;
}

.u-cover p:first-child {
	font-size: 50px;
	padding-bottom: 12px;
}

.u-cover p:nth-child(2) {
	font-size: 158px;
	padding-bottom: 38px;
}

.u-arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    border: 24px solid transparent;
    border-right: 30px solid #fff;
    transform: translate(0, -50%);
}

.m-intro .u-intro {
    width: 21%; 
    padding: 0 6%;
    text-align: center;
}

h3 {
    padding: 166px 0 31px;
    font-size: 21px;
}

h3 span {
	color: red;
}

.u-intro p{
    line-height: 30px;
    color: #aaaaaa;
    text-align: left;
}

.m-intro .u-more{
    width: 106px;
    border: 2px solid #e25c60;
    margin-top: 50px;
    display: inline-block;
    line-height: 32px;
	text-align: center;
    color: #e25c60;
    cursor: pointer;
}

.m-intro ul{
    margin-top: 20px;
    margin-left: 50%;
}

.m-intro li{
	float: left;
    height: 100%;
    width: 10px;
    font-size: 22px;
    text-align: center;
    list-style-type: circle;
    margin-left: 2%;
    cursor: pointer;
}

.m-intro li.z-active{
    list-style-type: disc;
}

.g-more{
	height: 520px;
	display: flex; 
	text-align: center;
}

.m-desc {
	width: 33.5%;
	display: flex; 
    flex-direction: column;
    align-items: center;
}

.m-desc.z-red {
	background-color: #e8504e;
	color: white;
}

h3 > p {
	padding-top: 11px; 
}

.m-more .u-more{ 
    width: 34%;
    margin-top: 50px; 
    border: 2px solid white;
    display: block;
    line-height: 42px; 
    font-size: 21px;
	text-align: center; 
    color: white; 
    cursor: pointer;
}

.u-line.z-white{
	border-color: #abaaaa;
}

.u-more.z-more{
	color: #e74f4d;
    border-color: #e74f4d;
}

.m-more .u-img{
	width: 33%;
	position: relative;
	background: url('../images/more.jpg') center no-repeat; 
	background-size: cover;
}

.u-arrow.z-right{
    border-left: 30px solid #fff;
    border-right:none;
    left: 0;
}

.g-volun {
	height: 185px;
    text-align: center;
    padding: 0 35%; 
}

h4{
	margin-bottom: 9px;
    margin-top: 120px;
	font-size: 21px;
}

.m-volun p.u-desc{
    line-height: 20px;
    color: #aaaaaa;
    margin-top: 15px;
}

.u-line.z-red{
	border-color: #e7504d;
}

footer { 
	text-align: center;
	background-color: #32353e;
	color: white;
}

.m-footer {
    padding: 0 35%;
}

footer .u-contact {
	padding-top: 92px;
	font-size: 21px;
}

footer .u-desc{
	padding-top: 12px;
	line-height: 20px;
}

footer .u-submit {
    height: 40px;
    margin: 30px -5% 38px;
    padding-left: 10px;
    background-color: white;
    line-height: 40px;
    color: #aaa;
    font-size: 14px;
    text-align: left;
}

footer .u-submit span{
    width: 20%;
	display: inline-block;
    float: right;
    text-align: center;
    background-color: #6f7178;
    color: white;
}

footer .u-icon{
    width: 184px;
    height: 26px;
	background: url('../images/icon.png') no-repeat;
    display: inline-block;
    text-align: center;
}

footer .u-footer{
    padding: 100px 33px 16px; 
    display: flex;
    justify-content: space-between;
}