body {
	background-color: black;
}
 
p {
    line-height: 1.5;
	word-break: break-all;
	text-align: justify;
}

.container{
	width: 892px; 
	margin: 0 auto;
	padding: 0 44px; 
	background-color: white;
}

.top{
	height: 61px;
	border-bottom: 2px solid #938e8c;
	display: flex;
	align-items: flex-end;
	justify-content: space-between; 
	font-size: 12px;
	color: #d45d5c; 
	font-family: 'SimHei';
}

.top .source {
	width: 110px;
    height: 100%;
    background-color: #d65874;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
  
 /***********************/
header {
	margin-top: 40px; 
}

header .bgImg {
	position: relative;
    height: 301px;
    width: 641px;
    background: url("../images/1.png") no-repeat;
    display: inline-block;

}

.shadow{
	width: 191px;
    height: 301px;	
    position: absolute;
    top: 0;
    opacity: 0.2;
}

.shadow-left{
	background-color: green;
	left: 0;
}

.shadow-right{
	background-color: red;
	right: 0;
}

.intro {
	border-top: 2px solid #cc8091;
	width: 203px;
	float: right;
}

h1 {
    margin-top: 20px;	
	font-size: 24px;
    font-weight: normal;    
	font-variant: small-caps;
	text-decoration: underline;
	text-transform: capitalize;
}

h2 {
    margin-top: 5px;
    font-weight: normal;
	font-size: 12px;
	font-family: 'KaiTi';
	color: #676767;
}

.num {
	font: 116px/1 '微软雅黑'; 
	color: #75b86b;
	font-style: italic;
}

.desc {
	font-family:  '微软雅黑';
	font-size: 55px;
	color: #cc8091;
}

.num2 {
	font-size: 21px;
}

.num3 {
	font-size: 12px;
	color: grey;
}

.inline {
	display: inline-block;
}

/********************/ 

nav{
	margin-top: 40px;
}

nav > div {
	width: 200px;
	display: inline-block;
	margin-right: 30px;
    vertical-align: top;
}
 
nav .title{
    margin-bottom: 10px;
	font-family: '微软雅黑';
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	color: #418c59;
}

nav .when {
	color: #d2994f;
}

nav .how {
	color: #cc7680;
}

nav .list{
	margin-top: 20px;
}

.content {
	font-size: 12px;
	line-height: 16px;
	opacity: 0.7;
}

/***************************/

main {
	margin: 50px 0 20px;
	display: flex;
    justify-content: space-between;
}

main .left{ 
	width: 415px;
}

main .right{ 
	width: 458px;
}

p img {
	padding: 13px 0 8px 20px
}

article .image {
    background: url(../images/2.png) no-repeat;
	position: relative;
	height: 257px;
}

article p {
	text-indent: 2em;
}

h3 {
    margin-bottom: 30px;
	padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 42px;
    font-family: '黑体';
    word-break: normal; 
    color: #11456b;
}

h3 span:first-child{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}

h3 span:last-child{
	font-size: 33px;
}

img.surround {
	float: right;
	height: 100%;
}

p.first{
	text-indent: 0;
}

p.first::first-letter {
	float: left;
	font-size: 70px;
	color: #f5e327;
	line-height: 70px;
	font-family: '微软雅黑';
	margin:0 4px 4px 0;
}

/****************/

.shadow-bar {
    height: 61px;
    width: 100%;	
    position: absolute;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;
    background-color: grey;
}

.content-bar {
    position: absolute;
	bottom: 0;
	z-index: 10;
    margin: 8px 40px;
    padding: 4px 10px;
	border-left: 3px solid #72b16a;
}

.content-bar .big {
	color: white;
	font-size: 26px;
	font-family: '微软雅黑';
} 

.content-bar .small {
	color: #72b16a;
	font-size: 12px;
	line-height: 240%;
	font-style: italic;
	font-family: '微软雅黑';
} 

/****************/

.nav {
	margin-top: 35px;  
	background-color: hsla(71, 54%, 84%, 0.85);
}

.nav .item {
	padding: 24px 0;
	font: 16px/36px "SongTi";
	color: #5a5b5b;
}

.nav .item li{
    list-style-type: disc;
    margin-left: 10%;
}
.nav .last {
    overflow: hidden;
}

.last .red,.last .desc{
	float: left;
}

.last .red{
 	width: 250px;
 	background-color: #d65874;
    color: white;
    padding: 30px 10px;
 }

.last .desc{
    width: 162px;
    margin: 16px 12px;
 }

.red .leftt{
	font-size: 110px;
	float: left;
	padding: 4px;
	line-height: 130px;
}

.red .rightt{
 	width: 160px;
 	height: 130px;
 	border-left: 2px solid white;
	float: left;
	padding-left: 14px;	
 }

.rightt .big{
	font-size: 21px;
	line-height: 40px;
	font-style: italic;
	font-family:  '微软雅黑';
}

.nav .desc {
	font: 14px/30px '微软雅黑';
	color: #5a5b5b;
	font-style: italic;
	position: relative;
}

.nav .desc span {
	font-size: 72px;
	color: #d45d5c;
	font-family: "黑体";
	position: absolute;
}

#start {
    top: -23%;
    left: -53%;
}

#end {
    bottom: -57%;
    right: -11%;
}

.footer {
	height: 50px;
	border-top: 1px #938e8c solid;
	text-align: right;
	font-size: 12px;
	color: #d45d5c;
}